<div>
    <h1>HAKKIMIZDA</h1> 
    
    <p>
            Sendikamız 19 Nisan 1995 tarihinde Ankara Valiliğine yapmış olduğu yazılı müracaatı ile Tüzel Kişilik kazanarak faaliyetlerine başladı. Sendikamız, kuruluşunu müteakiben üye çalışması ve teşkilatlanma faaliyetlerini sürdürürken ülkemiz için Önemli konular üzerinde panel, konferans ve basın açıklamaları düzenledi. Grevli Toplu Sözleşmeli Kamu çalışanları Sendikaları Yasasının çıkarılması için yoğun çaba sarf etmiş olup,
            8 Bakanlık 52 kurumda Genel Yetkili Sendika olarak çalışmalarımızı yürüterek haklı mücadelemizi her platformda sürdürüyoruz.
    </p>

    <p>
            Bu onurlu mücadelede görev alan tüm kurucularımıza, Şube Başkanlarımıza, İl Başkanlarımıza ve binlerce isimsiz kahramanlarımıza şükranlarımızı sunuyor. Ahirete intikal edenlere ise Cenab-ı haktan rahmet diliyoruz.

    </p>
</div>