<div>
<h4 class="title"><b>1. Taraflar</b></h4>

<p>a) www.bmskariyer.com internet sitesinin faaliyetlerini yürüten Ankara Zübeyde Hanım Mh. Sebze Bahçeleri Cd. No:86 Kat:7 06400 Altındağ/Ankara adresinde mukim www.bmskariyer.com olarak anılacaktır.
</p>
<p>b) www.bmskariyer.com internet sitesine üye olan internet kullanıcısı (“Üye”)</p>
<h4 class="title"><b>2. Sözleşmenin Konusu</b></h4>
<p>İşbu Sözleşme’nin konusu Bms Kariyer’nin sahip olduğu internet www.bmskariyer.com‘dan üyenin faydalanma şartlarının belirlenmesidir.</p>

<h4 class="title"><b>3. Tarafların Hak ve Yükümlülükleri</b></h4>

<p>3.1. Üye, www.bmskariyer.com internet sitesine üye olurken verdiği kişisel ve diğer sair bilgilerin kanunlar önünde doğru olduğunu,Bms Kariyer’in bu bilgilerin gerçeğe aykırılığı nedeniyle uğrayacağı tüm zararları aynen ve derhal tazmin edeceğini ve üyeliğinin sonlandırılacağını beyan ve taahhüt eder.</p>
<p>3.2. Üye Bms Kariyer tarafından kendisine verilmiş olan şifreyi başka kişi ya da kuruluşlara veremez, üyenin söz konusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple doğabilecek tüm sorumluluk ile üçüncü kişiler veya yetkili merciler tarafından Bms Kariyer’e karşı ileri sürülebilecek tüm iddia ve taleplere karşı, Bms Kariyer’in söz konusu izinsiz kullanımdan kaynaklanan her türlü tazminat ve sair talep hakkı saklıdır.</p>
<p>3.3. Üye www.bmskariyer.com  internet sitesini kullanırken yasal mevzuat hükümlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak tüm hukuki ve cezai yükümlülükler tamamen ve münhasıran üyeyi bağlayacaktır.</p>
<p>3.4. Üye, www.bmskariyer.com  internet sitesini hiçbir şekilde kamu düzenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç için, başkalarının fikri ve telif haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) ve işlemlerde bulunamaz.</p>
<p>3.5. www.bmskariyer.com  internet sitesinde üyeler tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen üyelerin kendi kişisel görüşleridir ve görüş sahibini bağlar. Bu görüş ve düşüncelerin www.bmskariyer.com’ ile hiçbir ilgi ve bağlantısı yoktur. www.bmskariyer.com’nin üyenin beyan edeceği fikir ve görüşler nedeniyle üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.</p>
<p>3.6. www.bmskariyer.com, üye verilerinin yetkisiz kişilerce okunmasından ve üye yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. Üye, www.bmskariyer.com  internet sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar yüzünden www.bmskariyer.com’dan tazminat talep etmemeyi peşinen kabul etmiştir.</p>
<p>3.7. Üye, diğer internet kullanıcılarının yazılımlarına ve verilerine izinsiz olarak ulaşmamayı veya bunları kullanmamayı kabul etmiştir. Aksi takdirde, bundan doğacak hukuki ve cezai sorumluluklar tamamen üyeye aittir.</p>
<p>3.8. İşbu üyelik sözleşmesi içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olupwww.bmskariyer.com’nı bu ihlallerin hukuki ve cezai sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, www.bmskariyer.com üyeye karşı üyelik sözleşmesine uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.</p>
<p>3.9  www.bmskariyer.com’un her zaman tek taraflı olarak gerektiğinde üyenin üyeliğini silme, müşteriye ait dosya, belge ve bilgileri silme hakkı vardır. Üye işbu tasarrufu önceden kabul eder. Bu durumda, www.bmskariyer.com’un hiçbir sorumluluğu yoktur.</p>
<p>3.10. www.bmskariyer.com  internet sitesi yazılım ve tasarımı www.bmskariyer.com mülkiyetinde olup, bunlara ilişkin telif hakkı ve/veya diğer fikri mülkiyet hakları ilgili kanunlarca korunmakta olup, bunlar  üye tarafından izinsiz kullanılamaz, iktisap edilemez ve değiştirilemez. Bu web sitesinde adı geçen başkaca şirketler ve ürünleri sahiplerinin ticari markalarıdır ve ayrıca fikri mülkiyet hakları kapsamında korunmaktadır.</p>
<p>3.11. www.bmskariyer.com web sitesinin virus ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkanlar dahilinde tedbir alınmıştır. Bunun yanında nihai güvenliğin sağlanması için kullanıcının, kendi virus koruma sistemini tedarik etmesi ve gerekli korunmayı sağlaması gerekmektedir. Bu bağlamda üye www.bmskariyer.com web sitesi’ne girmesiyle, kendi yazılım ve işletim sistemlerinde oluşabilecek tüm hata ve bunların doğrudan ya da dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul etmiş sayılır.</p>
<p>3.12. www.bmskariyer.com sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme ya da sona erdirme veya www.bmskariyer.comweb sitesi’nde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar.</p>
<p>3.13. www.bmskariyer.com, üyelik sözleşmesinin koşullarını hiçbir şekil ve surette ön ihbara ve/veya ihtara gerek kalmaksızın her zaman değiştirebilir, güncelleyebilir veya iptal edebilir. Değiştirilen, güncellenen ya da yürürlükten kaldırılan her hüküm, yayın tarihinde tüm üyeler bakımından hüküm ifade edecektir.</p>
<p>3.14. Taraflar, www.bmskariyer.com’a ait tüm bilgisayar kayıtlarının tek ve gerçek münhasır delil olarak, HUMK madde 287′ye uygun şekilde esas alınacağını ve söz konusu kayıtların bir delil sözleşmesi teşkil ettiği hususunu kabul ve beyan eder.</p>
<h4 class="title"><b>4. Gizlilik</b></h4>
<p>4.1. Bms Kariyer tarafından www.bmskariyer.com  internet sitesinin iyileştirilmesi, geliştirilmesine yönelik olarak ve/veya yasal mevzuat çerçevesinde siteye erişmek için kullanılan İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.</p>
<p>4.2. Bms Kariyer , üyenin kişisel bilgilerini yasal bir zorunluluk olarak istendiğinde veya (a) yasal gereklere uygun hareket etmek veya Bms Kariyer’in tebliğ edilen yasal işlemlere uymak; (b) Bms Kariyer ve www.bmskariyer.com web sitesi ailesinin haklarını ve mülkiyetini korumak ve savunmak için gerekli olduğuna iyi niyetle kanaat getirdiği hallerde açıklayabilir.</p>
<p>4.3. İlgili Kişisel bilgiler kesinlikle saklanmaz.</p>
<p>4.4. Bms Kariyer iş bu üyelik sözleşmesi uyarınca, üyelerinin kendisinde kayıtlı elektronik posta adreslerine standart ürün teslim, bilgilendirme ve kampanya mailleri ve cep telefonlarına bilgilendirme SMS’leri gönderme yetkisine sahip olmakla beraber, üye işbu üyelik sözleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine ve bilgilendirme SMS’lerinin cep telefonuna gönderilmesini kabul etmiş sayılacaktır.</p>

<h4 class="title"><b>5. Sözleşmenin Feshi</b></h4>

<p>İşbu sözleşme üyenin üyeliğini iptal etmesi veya Bms Kariyer tarafından üyeliğinin iptal edilmesine kadar yürürlükte kalacaktır. Bms Kariyer, üyenin üyelik sözleşmesinin herhangi bir hükmünü ihlal etmesi durumunda üyenin üyeliğini iptal ederek sözleşmeyi tek taraflı olarak feshedebilecektir.</p>

<h4 class="title"><b>6. İhtilaflerin Halli</b></h4>

<p>İşbu sözleşmeye ilişkin ihtilaflerde Ankara Mahkemeleri ve İcra Daireleri yetkilidir.</p>
<h4 class="title"><b>7. Yürürlük</b></h4>

<p>Üyenin, üyelik kaydı yapması üyenin üyelik sözleşmesinde yer alan tüm maddeleri okuduğu ve üyelik sözleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu Sözleşme üyenin üye olması anında akdedilmiş ve karşılıklı olarak yürürlülüğe girmiştir.</p>
<p></p>
</div>