<h2>Telif Hakkı </h2>

<p>www.bmskariyer.com İnternet Sitesine hoşgeldiniz. Bu bölüm, Bms Kariyer  (Site) ziyaret ve kullanım koşullarını içermektedir. </p> 


<p>Bu İnternet Sitesi içeriğinde yer alan tüm eserler (yazı, resim, görüntü, fotoğraf, video, müzik vb.) www.bmskariyer.com’a ait olup, 5846 sayılı Fikir ve Sanat Eserleri Kanunu ve 5237 sayılı Türk Ceca Kanunu kapsamında korunmaktadır. Bu hakları ihlal eden kişiler, 5846 sayılı Fikir ve Sanat eserleri Kanunu ve 5237 sayılı Türk Ceza Kanununda yer alan hukuki ve cezai yaptırımlara tabi olurlar. www.bmskariyer.com ilgili yasal işlem başlatma hakkına sahiptir.</p>

<p>Bu İnternet Sitesinin her hangi bir sayfasına girilmesi halinde  aşağıda belirtilen şartlar kabul edilmiş sayılır. Bu  şartların kabul edilmemesi durumunda İnternet Sitesine girilmemelidir.</p>

<h3 class="p-2">A. Siteye erişim ve Sitenin kullanımı, Bms Kariyer’in belirlediği aşağıdaki esas ve şartlara tabidir.</h3>

<p>1. Bu İnternet Sitesinde yer alan tüm eserler www.bmskariyer.comtan izin alınmaksızın değiştirilemez, çoğaltılamaz, yayımlanamaz, dağıtılamaz, umuma iletilemez, başka bir lisana çevrilemez.</p>
<p>2. Siteyi kullanan kişinin, Sitenin ilk defa kullanım anından itibaren geçerlilik kazanan "Kullanım Koşulları" kabul edilmiş sayılır. www.bmskariyer.com, "Kullanım Koşullarını", değişiklikleri çevrim içi yayınlamak koşulu ile her an değiştirme hakkını saklı tutar. Çevirim içi yayınlanan değişikliklerden zamanında haberdar olmak için "Kullanım Koşullarını" düzenli olarak takip etmek, Site kullanıcısının sorumluluğundadır. Yapılan değişikliklerden sonra Siteyi kullanmaya devam eden kişi, "Kullanım Koşulları"ndaki değişiklikleri kabul etmiş sayılır.</p>

<p>3. www.bmskariyer.com  Sitenin 24 saat erişilebilir olması için çalışmaktadır. Ancak değişik sebeplerle Sitenin erişilebilir olmamasından sorumlu değildir.</p>

<p>4. Bu Siteye erişim, her hangi bir duyuru yapılmaksızın geçici veya sürekli olarak durdurulabilir. </p>

<p>5. www.bmskariyer.com, Site kullanıcılarına sunduğu bilgilerin doğru olması için her türlü gayreti göstermekle beraber, bilgilerin doğruluğu konusunda, açıktan veya ima yolu ile hiç bir garanti vermez. www.bmskariyer.com yanlış veya eksik bilgiden sorumlu değildir.</p>

<p>6. Site, üçüncü kişiler tarafından sunulan bilgiler de içerebilir. Üçüncü kişiler, bu Sitede yayınlanan materyallerin ulusal ve uluslararası mevzuatla uyumlu olmasını sağlamak ile yükümlüdürler. www.bmskariyer.com, bu materyalin doğruluğunu garanti edemez ve materyaldeki hata, ihmal veya eksiklik, yanlış beyan, materyalde vaad edilen hizmetlerin yerine getirilmesinde meydana gelecek bir aksama veya getirilmesinin aksaması iddiası karşısında ve Sitede duyurulan hizmetleri sunan firma, şirket veya bireyin iflası veya firma veya şirketin tasfiyesi durumlarında doğabilecek maddi/manevi kayıp veya zarar nedeniyle sorumluluk kabul etmeyeceğini açıkça beyan eder. Sunulan bilgilerin doğruluğu ve güncelliği, söz konusu kuruluşların kendilerine onaylatılmalıdır.</p>

<p>7. www.bmskariyer.com, Sitenin kullanılması, kullanılamaması, bünyesinde sunulan bilgiler veya Siteye bağlı olarak yapılan eylemler veya alınan kararlar nedeniyle kullanımında meydana gelen aksaklıktan, Sitenin içerdiği materyalden, Sitenin kullanımından sonra alınan bir karar veya yapılan bir eylemden doğan, kontrat, haksız fiil veya başka türlü (sınırlama olmadan, iş kaybından doğan zararlar veya kâr kaybı dahil) zararlardan sorumlu değildir.</p>

<p>8. www.bmskariyer.com, İnternet Sitesinde yer alan linklerle ulaşılacak sitelerde sunulan bilgiler nedeniyle hiç bir sorumluluk kabul etmez. Söz konusu linkler (bağlantılar), açıktan veya ima yolu ile her hangi bir garanti verilmeksizin, kullanıcıya kullanım kolaylığı sağlamak amacıyla verilmiştir.</p>

<h3 class="p-2">B. Bu Siteden yazılı ve/veya görsel nitelikte bilgi indirme ve baskı alma ve internet sitelerinde kullanma  ancak aşağıdaki koşullar dahilinde yapılabilir:</h3>
<h4>1. Kişisel kullanım;</h4>

<p>1.1. İnternet Sitesinde yer alan eserlerin kullanımı kişisel kullanım ve/veya bilgi edinme amacı ile sınırlıdır. Ancak bu kapsamda gerçekleştirilen çoğaltma fiilleri hak sahibinin meşru menfaatlerine haklı bir sebep olmadan zarar veremez ya da  eserden normal yararlanmaya aykırı olamaz, ticari amaçla kullanılamaz.</p>
<p>1.2. Sitedeki yazılı veya görsel materyal hiç bir şekilde değiştirilemez, telif hakkı ibareleri silinerek kullanılamaz.</p>
<p>1.3. Sitede yer alan eserlerin bütünü veya bir kısmı değiştirilerek veya başka bir suretle diğer bir internet sitesinde izinsiz olarak kullanılamaz.</p>
<p>1.4. Bu İnternet Sitesindeki veriler ticari olmayan, bilgi alma amaçlı ve kişisel kullanım için indirebilir veya yazdırılabilir.</p>

<p>1.5. Bu İnternet Sitesindeki verileri her hangi bir ticari amaç olmadan üçüncü şahıslara onların kişisel bilgilendirilmeleri için, içeriğin www.bmskariyer.com tarafından sağlandığını ve bu kayıt ve şartların onlara da uygulandığını ve bunlara uymak zorunda olduklarını belirtmek şartıyla  gönderilebilir.</p>

<h4>2. Kişisel olmayan kullanım;</h4>

<p>Bu Siteden yazılı ve/veya görsel nitelikte bilgi indirme ve baskı alma gibi çoğaltma yahut internet sitelerinde kullanmazlar.</p>
