@{ Layout = "_AccountLayout ";}

<div class="authentication-wrapper authentication-4 px-4">
    <div class="authentication-inner py-5">

      <!-- Logo -->
      <div class="d-flex justify-content-center align-items-center mb-5">
        <div class="ui-w-60">
          <div class="w-100 position-relative" style="padding-bottom: 54%">
            <a href="/anasayfa"><img class="h-100" style="margin:0 auto; transform: translateX(-50px);" width="160px"  src="~/assets/images/logo.png" /></a>
          </div>
        </div>
      </div>
      <!-- / Logo -->

     <!-- Form -->
      <form class="card" method="post" asp-action="SendActivationMailTo" asp-controller="Account">
        
        <div class="p-4 p-sm-5">
          <div asp-validation-summary="All"></div>


          <h5 class="text-center text-muted font-weight-normal mb-4">Onay Maili Gönderme</h5>

          <hr class="mt-0 mb-4">

          <p>
            Onay maili almak istediğiniz hesaba ait mail adresini giriniz.
          </p>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Mail Adresi" name="email">
          </div>

          <button type="submit" class="btn btn-primary btn-block">Onay maili gönder.</button>

        </div>
      </form>
      <!-- / Form -->

    </div>
  </div>

@section styles
{
  <link rel="stylesheet" href="~/assets/css/pages/authentication.css" class="theme-settings-appwork-css">
}

